@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
	font-family: "Roboto", sans-serif;
    background-color: palette.$background-color;
}

*{ 
    color: white;
}