@use "./components/palette";
@use "./components/typography";



.parent{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.child1{
  flex: 1;
}
.child:first-child{
  margin-right: 20px;
}

.child2{
  flex: 1;
}

.home-header{
  justify-content: right;
}



a{
  text-decoration: none;
}
ul{
  list-style: none;
}

.header{
  background-color: palette.$background-color;
  // box-shadow: 1px 1px 5px 0px gray;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: palette.$background-color;
  overflow: hidden;

}
.menu a{
  display: block;
  padding: 30px;
  color: white;
}
.menu a:hover{
  background-color: gray;
}
.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}

.logo{
  display: inline-block;
  color: white;
  font-size: 60px;
  margin-left: 10px;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
.hamb-line::before,
.hamb-line::after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before{
  top: 5px;

}

.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}


/* hambuger menu */
@media (min-width: 768px) {
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
  }
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: transparent;
      color: var(--gray);
  }

  .hamb{
      display: none;
  }
}



/* Footer */
#footer {
  position: fixed;
;
  bottom: 0;
  width: 100%;
  height: 60px;
}